.gradient-text {
  background: rgb(91, 212, 72);

  background: linear-gradient(
    315deg,
    rgb(5, 34, 0) 10%,
    rgb(82, 222, 60) 30%,
    rgb(143, 248, 132) 59%
  );

  background: -moz-linear-gradient(
    315deg,
    rgb(97, 220, 78) 0%,
    rgb(133, 255, 119) 59%
  );

  background: -webkit-linear-gradient(
    315deg,
    rgb(97, 220, 78) 0%,
    rgb(133, 255, 119) 59%
  );

  background-clip: text;

  color: transparent;
}
